<style>
    ::after,
    ::before {
        box-sizing: border-box;
    }

    body {
        background-color: rgba(157, 180, 202, 0.658);
    }

    .container-fluid {
        width: 100%;
    }

    .photos {
        display: grid;
        grid-gap: 1rem;
        margin: 1vw;
    }

    .photo {
        height: auto;
    }

    .photo img {
        max-width: 100%;
        max-height: 100%;
    }

    @media (min-width: 250px) {
        .photos {
            grid-template-columns: repeat(2, 1fr);
            margin: 10vw;
        }
    }

    @media (min-width: 450px) {
        .photos {
            grid-template-columns: repeat(3, 1fr);
            margin: 1vw;
        }
    }

    @media (min-width: 600px) {
        .photos {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @media (min-width: 800px) {
        .photos {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @media (min-width: 1200px) {
        .photos {
            grid-template-columns: repeat(8, 1fr);
        }
    }
</style>

<div id="add-album">
    Agregar a album:

    <form action="/add-to-album" method="post">
        <input type="hidden" name="ids">
        
        <select name="albumid">
            <% albums.forEach(album => { %>
                <option value="<%= album._id %>"><%= album.name %></option>
            <% }) %>
        </select>

        <input type="submit" value="Agregar" class="btn">
    </form>
</div>

<div class="photos">
    <% photos.forEach(photo=> { %>
        <div class="photo">
            <div>
                <input type="checkbox" class="select-photo" value="<%= photo._id %>">
            </div>
            
            <a href="/view/<%= photo._id %>?origin=<%= origin %>">
                <img src="http://localhost:3000/images/<%= photo.filename %>">
            </a>
            
            <div class="actions-container">
                <% if(photo.userid === user._id) { 
                    if(photo.favorite) { %>
                        <form action="/remove-favorite" method="post">
                            <input type="hidden" name="photoid" value="<%= photo._id %>">
                            <input type="hidden" name="origin" value="<%= origin %>">
                            <button class="btn btn-danger">Remove Favorite</button>
                        </form>
    
                    <% }else{ %>
                        <form action="/add-favorite" method="post">
                            <input type="hidden" name="photoid" value="<%= photo._id %>">
                            <input type="hidden" name="origin" value="<%= origin %>">
                            <button class="btn btn-danger">Favorite</button>
                        </form>
                    <% }%>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>

<script>
    const checkboxes = document.querySelectorAll(".select-photo");

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener("click", e => {
            if(checkbox.checked) {
                const cb = document.querySelectorAll(".select-photo:checked");

                const ids = [...cb].map(c => c.value);

                document.querySelector(`input[name="ids"]`).value = ids.join(",");
                
                document.getElementById("add-album").style.display = "block";
            }else{
                document.getElementById("add-album").style.display = "none";
            }
        });
    });
</script>